<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h3 style="text-align: center;">This is the detailed information about the post with id : <%= post.id%> !!..</h3>
    <br /><br />
    <div  class="posts">
    <div class="posts-post">
        <h3 class="user">@<%= post.username %></h3>
        <br />
        <h4>CONTENT: <%= post.content%></h4>
        
        <a class="depost" href="http://localhost:8080/posts/<%=post.id%>">Detailed post</a>
        <a class="depost" href="http://localhost:8080/posts/<%=post.id%>/edit">Edit post</a>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button id="deletepost" class="depost">Delete post</button>
        </form>
    </div>
</div>
</body>
</html>